<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Joker_Bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{323,402}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{323,402}}</string>
                <key>sourceSize</key>
                <string>{335,424}</string>
            </dict>
            <key>bombButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,404},{73,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>bombButton1Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,409},{73,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>green_grenede.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{124,207}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,207}}</string>
                <key>sourceSize</key>
                <string>{126,211}</string>
            </dict>
            <key>metal_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{400,112}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{400,112}}</string>
                <key>sourceSize</key>
                <string>{430,158}</string>
            </dict>
            <key>nuclear_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,327},{80,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{80,184}}</string>
                <key>sourceSize</key>
                <string>{92,186}</string>
            </dict>
            <key>pauseButtonDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,409},{29,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{39,29}</string>
            </dict>
            <key>pauseButtonUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,409},{29,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{39,29}</string>
            </dict>
            <key>redSpaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,404},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>simpleStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,446},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{520,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c9277fd69a180df0d345e909c0abee5:870e0641627d45cdbd6603c39747f1af:8e9ec22a2c0ec922c15f2d7e51a327b3$</string>
            <key>textureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
